{% extends '::base.html.twig' %}
{% block title %}Нет доступа!{% endblock %}
{% block body %}
    <h3>Доступа к данной странице нету, <a href="{{ path('login') }}">войдите</a> в систему</h3>
{% endblock %}
